@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.mainSection{
  background-image: url('../public/images/home-bg-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -10px;
  height: 96vh;
  width: 100%;
}
.mainSectionContent{
  background-color: rgba(0, 0, 0, 0.24);
  height: 96vh;
}
.header.scrollheader{
  background-color: rgba(0, 0, 255, 0.836);
}