@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  margin: 0;
  padding: 0;
  contain: layout;
  box-sizing: border-box;
  scrollbar-width: none;
}
.mainSection{
  background-image: url('../public/images/home-bg-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -10px;
  height: 100vh;
  width: 100%;
}
.mainSectionContent{
  background-color: rgba(0, 0, 0, 0.24);
  height: 100vh;
}
.header{
  position: -webkit-sticky;
  /* position: fixed;
  top: 0; */
  width: 100%;
  z-index: 1000;
  position: sticky;
  top: 0;
  z-index: 100; 
}

.nav-icon{
  display: none;
}

.miniSreen {
  transform: translateY(-122%);
  transition: transform 0.5s ease-in-out;
}

.miniSreen.open {
  transform: translateY(0);
}

.scrolling-text {
  white-space: nowrap;
  display: flex;
  animation: marquee 23s linear infinite;
  transition: 2s ease-in-out;
  overflow: hidden;
}
/* @keyframes nav_animate{
    0%{
      transform: translateY(40%);
    }
    50%{
      transform: translateY(80%);
    }
} */
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* Section 2*/
.section2{
  background-color: rgba(2, 2, 2, 0.849);
}
.sectionBox{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  padding: 20px;
}
.mainBox:hover{
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
  background-color: rgb(233, 53, 83);
}
.mainBox:hover,  .iconBox{
  color: white;
}

@media (width <= 500px) {
  .nav-icon{
    display: block;
  }
  .nav{
    display: none;
  }
  .logoImg{
    margin-top: 10px;
    width: 80px;
  }
}