@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  margin: 0;
  padding: 0;
  contain: layout;
  box-sizing: border-box;
  scrollbar-width: none;
}
.mainSection{
  background-image: url('../public/images/home-bg-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  --tw-brightness: brightness(.7);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  height: 100vh;
  width: 100%;
}
.mainSectionContent{
  background-color: rgba(0, 0, 0, 0.24);
  height: 100vh;
}
.header{
  width: 100%;
  z-index: 1000;
  position: sticky;
  top: -5px;
  z-index: 100; 
}

.nav-icon{
  display: none;
}

.miniSreen {
  transform: translateY(-148%);
  transition: transform 0.5s ease-in-out;
}
.handleNav.open{
  color: red;
}
.miniSreen.open {
  transform: translateY(0);
}

.arror_icon .text_nav:hover{
  color: white;
}
.text_nav .arror_icon:hover{
  color: white;
}

.scrolling-text {
  white-space: nowrap;
  display: flex;
  animation: marquee 23s linear infinite;
  transition: 2s ease-in-out;
  overflow: hidden;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* Section 2*/
.section2{
  background-color: rgba(2, 2, 2, 0.849);
}
.sectionBox{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  padding: 20px;
}
.mainBox:hover{
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
  background-color: rgb(233, 53, 83);
}
.mainBox:hover,  .iconBox{
  color: white;
}

.welcomeGym{
  display: flex;
  flex-wrap: wrap;
}
.welcomeSection{
  background-image: url('../public/images/coverChain.png');
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.imgBox{
  transform: scale(0.9);
  transition: all 0.6s ease-in-out;
  opacity: 6;
}
.welcomeSection:hover .imgBox{
  opacity: 0;
}
.excise{
  background-image: url('../public/images/wealthCarry.png');
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.excise .Image{
  transform: scale(0.9);
  transition: all 0.6s ease-in-out;
  opacity: 6;
}
.excise:hover .Image{
  opacity: 0;
}
.pricing{  
  background-color: rgb(43, 43, 43);
}
.pricingBox{
  background-color: rgb(46, 46, 59)!important;
}
.pricingBox h2{
  animation-name: change;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.cardBox{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@keyframes change {
  20%{
    color: gold !important;
  }
  40%{
    color: rgb(0, 255, 55) !important;
  }
  70%{
    color: rgb(255, 136, 0) !important;
  }
  90%{
    color: rgb(255, 51, 0) !important;
  }
  
}
.footer{
  display: flex;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .nav-icon{
    display: block;
  }
  .nav{
    display: none;
  }
  .header{
    top: -9px;
  }
  .logoImg{
    width: 80px;
  }
  .getbtn{
    display: none;
  }
  .home_text{
    font-size: 3.5rem;
    line-height: 3.5rem !important;
  }
  .section2 .section1_Box h1{
    font-size: 2rem;
  }
  .sectionBox{
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
  .cardBox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
  .footer{
    flex-direction: column;
  }
}
@media only screen and (min-width: 501px) and (max-width: 780px) {
  .nav-icon{
    display: block;
  }
  .nav{
    display: none;
  }
  .getbtn{
    display: none;
  }
  .home_text{
    font-size: 3.5rem;
    line-height: 3.5rem !important;
  }
  .section3{
    flex-wrap: wrap;
  }
  .section3 h1{
    transform: translateX(0);
    padding: 10px;
  }
  .section3 .box p{
    padding: 0 10px;
  }
  .section3 .box button{
    margin: 0 9.5px;
  }
  .welcomeGym{
    flex-direction: column;
  }
  .gymBox{
    padding: 10px !important;
    width: 100% !important;
  }
  .welcomeSection{
    width: 100% !important;
  }
  .footer{
    flex-direction: column;
  }
}

@media only screen and (min-width: 781px) and (max-width: 1080px) {
  .nav-icon{
    display: block;
  }
  .nav{
    display: none;
  }
  .getbtn{
    display: none;
  }
}